<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    About Page
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit dicta similique recusandae aut aliquam id est minus mollitia odit saepe nostrum inventore dolorum tenetur eum necessitatibus ex unde commodi doloremque impedit, debitis asperiores! Dolore praesentium nostrum enim adipisci hic voluptate.</p>
</body>
</html>