<div class="modal fade" id="loginAgainModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loginAgainLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="loginAgainLabel">Login Again</h1>
        </div>
        <div class="modal-body">
            <h3>Your password has been changed !</h3>,<br>please login again with your new password.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="loginAgainModalBtn">Ok</button>
        </div>
        </div>
    </div>
</div>