{% extends "layout/mentor_dashboard.html" %}

{% block dashboard_title %}
    - Mentee Users
{% endblock dashboard_title %}

{% block dashboard_main_section %}
    <div class="container bg-secondary mt-4 rounded-2 p-4">
        <form method="post">
            <input type="text" class="form-control border-2 shadow-none fs-5" placeholder="Search mentees here...">
        </form>
    </div>

    <div class="container bg-secondary mt-4 rounded-2 p-4">

        <div class="bg-dark p-2 rounded-2">

            <div class="row">
                <h4 class="text-center">Your Mentees</h4>
            </div>

            <div class="row">
                <div class="my-2 d-flex align-items-center justify-content-end">
                    <button class="btn btn-primary" id="exportMenteeData"><i class="fa-solid fa-download me-2"></i>Export Data</button>
                </div>
            </div>

            <div id="menteesOfMentor" class="overflow-x-auto overflow-y-auto" style="height: 345px;">
            </div>

        </div>

    </div>

    <div class="container bg-secondary mt-4 rounded-2 p-4">

        <div class="bg-dark p-2 rounded-2">
            <div class="row">
                <h4 class="text-center">Mentees</h4>
            </div>

            <div id="menteesRecord" class="overflow-x-auto overflow-y-auto" style="height: 345px;">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Username</th>
                            <th scope="col">Roll No</th>
                            <th scope="col">Branch</th>
                            <th scope="col">Semester</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Show Profile</th>
                            <th scope="col">Add Mentee</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mentee in mentees %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{mentee.username}}</td>
                            <td>{{mentee.mentee_profile.roll_no}}</td>
                            <td>{{mentee.mentee_profile.branch}}</td>
                            <td>{{mentee.mentee_profile.semester}}</td>
                            <td>{{mentee.mentee_profile.phone}}</td>
                            <td>
                                <button class="btn btn-sm btn-primary show-mentee-profile" data-bs-toggle='modal' data-bs-target='#menteeProfile' data-id={{mentee.id}}>Show</button>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-success add-mentee" data-id={{mentee.id}} data-profile-id={{mentee.mentee_profile.id}}>
                                    Add
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>
{% endblock dashboard_main_section %}


{% block external_ajax_js %}
<script>
    $(document).ready(function() {
        function createTableFromData(data) {
            let table = $('<table class="table table-hover table-dark"></table>');
            
            // Create table header
            let headers = [
                "S.No",
                "Username",
                "Roll No",
                "Branch",
                "Semester",
                "Phone",
                "Show Profile",
                "Remove Mentee",
            ];
            let headerRow = $('<tr></tr>');
            headers.forEach(function(header) {
                headerRow.append($('<th></th>').text(header));
            });
            table.append($('<thead></thead>').append(headerRow));
        
            // Create table body
            let tbody = $('<tbody></tbody>');
            data.forEach(function(item, index) {
                let row = $('<tr></tr>');
                //headers.forEach(function(row_item) {
                //});
                row.append($('<td></td>').text(index+1));
                row.append($('<td></td>').text(item.username));
                row.append($('<td></td>').text(item.roll_no));
                row.append($('<td></td>').text(item.branch));
                row.append($('<td></td>').text(item.semester));
                row.append($('<td></td>').text(item.phone));
                row.append($('<td></td>').html(`<button class='btn btn-sm btn-primary show-mentee-profile' data-bs-toggle='modal' data-bs-target='#menteeProfile' data-id=${item.id}>Show</button>`));
                row.append($('<td></td>').html(`<button class='btn btn-sm btn-danger' data-bs-toggle='modal' data-id=${item.id}>Remove</button>`));
                tbody.append(row);
            });
        
            table.append(tbody);
        
            return table;
        }

        // get mentees of mentor
        function getMentees () {
            $.ajax({
                url: "{% url 'get_mentees_of_mentor' %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },

                success: function(response){
                    let table = createTableFromData(response.mentees);
                    $('#menteesOfMentor').empty().append(table); 
                },
                error: function(response){
                    console.log(response);
                }
            });
        }
        getMentees();

        // show mentee profile
        $(document).on('click', '.show-mentee-profile', function() {
            let menteeId = $(this).data("id");

            $.ajax({
                url: "{% url 'get_mentee_profile' %}",
                type: "POST",
                data: {
                    menteeId: menteeId,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(response) {

                    let responseData = response.data;

                    $("#name").text(responseData.username);
                    $("#rollNo").text(responseData.roll_no);
                    $("#course").text(responseData.course);
                    $("#branch").text(responseData.branch);
                    $("#semester").text(responseData.semester);
                    $("#mentor").text(responseData.mentor);
                    $("#phone").text(responseData.phone);
                    $("#email").text(responseData.email);
                    $("#fatherName").text(responseData.father_name);
                    $("#fatherPhone").text(responseData.father_phone);
                    $("#fatherProfession").text(responseData.father_profession);
                    $("#address").text(responseData.address);
                },
                error: function(response) {
                    console.log(response);
                }
            });
        });

        $(document).on('click', '.add-mentee', function() {
            let menteeId = $(this).data("id");

            $.ajax({
                url: "{% url 'add_mentee' %}",
                type: "POST",
                data: {
                    menteeId: menteeId,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(response) {
                    $(this).fadeOut('slow');
                    getMentees();
                },
                error: function(response) {
                    console.log(response);
                }
            });
        });

    });
</script>
{% endblock external_ajax_js %}