<div class="modal fade" id="mentorProfile" tabindex="-1" aria-labelledby="mentorProfileLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="mentorProfileLabel">Mentor Profile Data</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="row bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Name: <span id="name" class="fw-bold"></span>
                </div>
                <div class="col">
                    Employee id: <span id="empId" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Username: <span id="username" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Email-id: <span id="email" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Department: <span id="department" class="fw-bold"></span>
                </div>
                <div class="col">
                    Phone: <span id="phone" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    D.O.B: <span id="dob" class="fw-bold"></span>
                </div>
                <div class="col">
                    User Role: <span id="role" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Address: <span id="address" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    City: <span id="city" class="fw-bold"></span>
                </div>
                <div class="col">
                    Region: <span id="region" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Postal code: <span id="pin-code" class="fw-bold"></span>
                </div>
                <div class="col">
                    Nationality: <span id="nation" class="fw-bold"></span>
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>