<div class="modal fade" id="menteeProfile" tabindex="-1" aria-labelledby="menteeProfileLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="menteeProfileLabel">Mentee Profile Data</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="row bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Name: <span id="mentee-name" class="fw-bold"></span>
                </div>
                <div class="col">
                    Roll no: <span id="rollNo" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Username: <span id="mentee-username" class="fw-bold"></span>
                </div>
                <div class="col">
                    Phone: <span id="mentee-phone" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Email-id: <span id="mentee-email" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Mentor: <span id="mentor" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Branch: <span id="branch" class="fw-bold"></span>
                </div>
                <div class="col">
                    Semester: <span id="semester" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    D.O.B: <span id="mentee-dob" class="fw-bold"></span>
                </div>
                <div class="col">
                    User Role: <span id="mentee-role" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Address: <span id="mentee-address" class="fw-bold"></span>
                </div>
                <div class="col">
                    Father name: <span id="father-name" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Father phone: <span id="father-phone" class="fw-bold"></span>
                </div>
                <div class="col">
                    Father profession: <span id="father-profession" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    City: <span id="mentee-city" class="fw-bold"></span>
                </div>
                <div class="col">
                    Region: <span id="mentee-region" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Postal code: <span id="mentee-pin-code" class="fw-bold"></span>
                </div>
                <div class="col">
                    Nationality: <span id="mentee-nation" class="fw-bold"></span>
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>