<div class="modal fade" id="menteeProfile" tabindex="-1" aria-labelledby="menteeProfileLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="menteeProfileLabel">Mentee Profile Data</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="row bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Name: <span id="name" class="fw-bold"></span>
                </div>
                <div class="col">
                    Roll No: <span id="rollNo" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Course: <span id="course" class="fw-bold"></span>
                </div>
                <div class="col">
                    Branch: <span id="branch" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Semester: <span id="semester" class="fw-bold"></span>
                </div>
                <div class="col">
                    Mentor: <span id="mentor" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Phone: <span id="phone" class="fw-bold"></span>
                </div>
                <div class="col">
                    Email-id: <span id="email" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Father's Name: <span id="fatherName" class="fw-bold"></span>
                </div>
                <div class="col">
                    Father's Phone: <span id="fatherPhone" class="fw-bold"></span>
                </div>
            </div>
            <div class="row mt-2 bg-body-secondary p-1 rounded-2">
                <div class="col">
                    Father's Profession: <span id="fatherProfession" class="fw-bold"></span>
                </div>
                <div class="col">
                    Address: <span id="address" class="fw-bold"></span>
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>