{% extends "layout/mentee_dashboard.html" %}

{% comment %} title {% endcomment %}
{% block title %}
    {% if request.user %}
        @ {{ request.user.first_name}} {{ request.user.last_name }}
    {% else %}
        @ Mentor
    {% endif %}
    | Welcome to the Mentee Dashboard | SSGI | srisaigroup.in
{% endblock title %}

{% comment %} navlinks {% endcomment %}
{% block dashboard_nav_links %}
{% endblock dashboard_nav_links %}

{% comment %} dropdown menus {% endcomment %}
{% block drop_menu %}
{% endblock drop_menu %}

{% comment %} search form {% endcomment %}
{% block search_form %}
{% endblock search_form %}

{% comment %} username {% endcomment %}
{% block dash_username %}
{% endblock dash_username %}

{% comment %} sidebar links {% endcomment %}
{% block sidebar_links %}
{% endblock sidebar_links %}

{% comment %} dashboard title {% endcomment %}
{% block dashboard_title %}
{% endblock dashboard_title %}

{% comment %} dashboard main section {% endcomment %}
{% block dashboard_main_section %}
    <div>
        <h4>
            Welcome, 
            {% if request.user.first_name %}
                <span id="mentor-name"></span>
                @<span id="username-1"></span>
            {% else %}
                Mentee
            {% endif %}
        </h4>
    </div>

    <div class="container bg-secondary mt-4 rounded-2 p-4 ">
        <div>
            <div class="row d-flex flex-column flex-md-row p-2 bg-dark rounded-2">
                <div class="col fw-medium fs-5">
                    Username: <span id="username-2"></span>
                </div>
                <div class="col fw-medium fs-5">
                    Email: <span id="email-id"></span>
                </div>
            </div>
            <div class="row d-flex flex-column flex-md-row p-2 mt-2 bg-dark rounded-2">
                <div class="col fw-medium fs-5">
                    Roll No: {% if request.session.roll_no %}{{request.session.roll_no}}{% endif %}
                </div>
                <div class="col fw-medium fs-5">
                    Mobile No: <span id="phone"></span>
                </div>
            </div>
            <div class="row d-flex flex-column flex-md-row p-2 mt-2 bg-dark rounded-2">
                <div class="col fw-medium fs-5">
                    Address: <span id="address"></span>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container bg-body-secondary mt-4 rounded-2 p-4">

        <div class="row p-2 mt-3 bg-dark-subtle text-center rounded-1">
            <h4>Current Notifications</h4>
        </div>

        <div class="notification-container mt-3 bg-dark-subtle rounded-3">
            <div class="brands">
                <div class="brands__preWrapper position-relative z-0">
                    <div id="currentNotifications" class="brands__wrapper">
                    </div>            
                </div>
            </div>
        </div>
    </div>
{% endblock dashboard_main_section %}

{% comment %} external js {% endcomment %}
{% block external_js %}
<script>
    
</script>
{% endblock external_js %}


{% comment %} ajax js {% endcomment %}
{% block external_ajax_js %}
<script>
    $(document).ready(function() {
        // get mentee profile data
        function getMenteeProfileData() {
            $.ajax({
                url: "{% url 'get_mentee_profile_data' %}",
                type: "POST",
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},

                success: function(response) {
                    if (response.process === 'success') {
                        $('#mentor-name').text(response.data.user.first_name.toUpperCase() + " " + response.data.user.last_name.toUpperCase());
                        $('#username-1').text(response.data.user.username);
                        $('#username-2').text(response.data.user.username);
                        $('#email-id').text(response.data.user.email);
                        $('#phone').text(response.data.mentee_profile.phone);
                        $('#address').text(response.data.mentee_profile.address);
                    }
                },
                error: function(response) {
                    message('danger', 'Something went wrong, please try again later');
                }
            })
        }
        getMenteeProfileData();
    });
</script>
{% endblock external_ajax_js %}