{% extends "layout/webadmin_dashboard.html" %}

{% comment %} title {% endcomment %}
{% block title %}
    {% if request.user %}
        @ {{ request.user.first_name}} {{ request.user.last_name }}
    {% else %}
        @ Web Admin
    {% endif %}
    | Welcome to the Web Admin Dashboard | SSGI | srisaigroup.in
{% endblock title %}

{% comment %} navlinks {% endcomment %}
{% block dashboard_nav_links %}
{% endblock dashboard_nav_links %}

{% comment %} dropdown menus {% endcomment %}
{% block drop_menu %}
{% endblock drop_menu %}

{% comment %} search form {% endcomment %}
{% block search_form %}
{% endblock search_form %}

{% comment %} username {% endcomment %}
{% block dash_username %}
{% endblock dash_username %}

{% comment %} sidebar links {% endcomment %}
{% block sidebar_links %}
{% endblock sidebar_links %}

{% comment %} dashboard title {% endcomment %}
{% block dashboard_title %}
{% endblock dashboard_title %}

{% comment %} dashboard main section {% endcomment %}
{% block dashboard_main_section %}
    <div>
        <h4>
            Welcome, 
            {% if request.user %}
                {{ request.user.first_name }} {{ request.user.last_name }}
                @{{ request.user.username }}
            {% endif %}
        </h4>
    </div>

    <div class="container bg-secondary mt-4 rounded-2 p-4 ">
        <div>
            <div class="row d-flex flex-column flex-md-row p-2 bg-dark rounded-2">
                <div class="col fw-medium fs-5">
                    Username: {% if request.user %}{{request.user.username}}{% endif %}
                </div>
                <div class="col fw-medium fs-5">
                    Email: {% if request.user %}{{request.user.email}}{% endif %}
                </div>
            </div>
            <div class="row d-flex flex-column flex-md-row p-2 mt-2 bg-dark rounded-2">
                <div class="col fw-medium fs-5">
                    Employee Id: {% if request.user %}{{request.session.emp_id}}{% endif %}
                </div>
                <div class="col fw-medium fs-5">
                    Mobile No: {% if request.user %}{{request.session.phone}}{% endif %}
                </div>
            </div>
            <div class="row d-flex flex-column flex-md-row p-2 mt-2 bg-dark rounded-2">
                <div class="col fw-medium fs-5">
                    Address: {% if request.user %}{{request.session.address}}{% endif %}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container bg-secondary mt-4 rounded-2 p-4">

        <div class="row p-2 bg-dark text-center rounded-1">
            <h4>Notification</h4>
        </div>

        <div class="row d-flex flex-column flex-md-row px-2 py-3 mt-4 bg-dark rounded-2">
        <form method="post" id="notificationForm">
            <div class="row d-flex flex-column flex-md-row p-2 rounded-2">
                <label for="title" class="form-label fs-5 fw-medium">Title</label>
                <input type="text" id="title" class="form-control border-2 shadow-none fs-5" placeholder="Enter title here...">
            </div>

            <div class="row d-flex flex-column flex-md-row p-2 mt-2 rounded-2">
                <label for="description" class="form-label fs-5 fw-medium">Description</label>
                <textarea type="text" id="description" class="form-control border-2 shadow-none fs-5" placeholder="Enter description here..."></textarea>
            </div>

            <div>
                <input type="submit" value="Add Notification" id="addNotification" class="btn btn-primary mt-4 fw-medium">
            </div>
        </form>
        </div>
    </div>
{% endblock dashboard_main_section %}

{% comment %} external js {% endcomment %}
{% block external_js %}
    <script>
    </script>
{% endblock external_js %}


{% comment %} ajax js {% endcomment %}
{% block external_ajax_js %}
<script>
    $(document).ready(function() {

    });
</script>
{% endblock external_ajax_js %}