{% extends "layout/webadmin_dashboard.html" %}

{% block dashboard_title %}
    - Mentor profile 
    {% if request.path %}
        (@ {{mentor.username}})
    {% endif %}
{% endblock dashboard_title %}

{% block dashboard_main_section %}
    <div class="container bg-secondary mt-4 rounded-2 p-4">
        <form method="post">
            <input type="text" class="form-control border-2 shadow-none fs-5" placeholder="Search mentees here...">
        </form>
    </div>

    <div class="container bg-secondary mt-4 rounded-2 p-4">

        <div class="bg-dark p-2 rounded-2">

            <div class="row">
                <h4 class="text-center">Mentees of Mentor</h4>
            </div>

            <div class="row">
                <div class="my-2 d-flex align-items-center justify-content-end">
                    <button class="btn btn-primary" id="exportMenteeData"><i class="fa-solid fa-download me-2"></i>Export Data</button>
                </div>
            </div>

            <div id="mentors-data" class="overflow-x-auto overflow-y-auto" style="height: 345px;">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Username</th>
                            <th>Roll no</th>
                            <th>Course</th>
                            <th>Branch</th>
                            <th>Semester</th>
                            <th>Phone</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if mentees %}
                        {% for mentee in mentees %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ mentee.username }}</td>
                                <td>{{ mentee.roll_no }}</td>
                                <td>{{ mentee.course }}</td>
                                <td>{{ mentee.branch }}</td>
                                <td>{{ mentee.semester }}</td>
                                <td>{{ mentee.phone }}</td>
                                <td>{{ mentee.address }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="8" class="text-center">No mentee found.</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>
{% endblock dashboard_main_section %}


{% block external_ajax_js %}
<script>
    $(document).ready(function() {
    // show mentor profile
    $(document).on('click', '.show-mentor-profile', function() {
        let mentorId = $(this).data("id");

        $.ajax({
            url: "{% url 'web_admin_get_mentor_profile' %}",
            type: "POST",
            data: {
                mentorId: mentorId,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function(response) {
                let responseData = response.data;

                $("#name").text(responseData.first_name + ' ' + responseData.last_name);
                $("#empId").text(responseData.emp_id);
                $("#username").text(responseData.username);
                $("#email").text(responseData.email);
                $("#department").text(responseData.department);
                $("#phone").text(responseData.phone);
                $("#dob").text((responseData.dob != '' ? responseData.dob : '---'));
                $("#role").text(responseData.user_role);
                $("#address").text((responseData.address != '' ? responseData.address : '---'));
                $("#city").text((responseData.city != '' ? responseData.city : '---'));
                $("#region").text((responseData.region != '' ? responseData.region : '---'));
                $("#pin-code").text((responseData.pin_code != '' ? responseData.pin_code : '---'));
                $("#nation").text((responseData.nation != '' ? responseData.nation : '---'));
            },
            error: function(response) {
                message('danger', 'Something went wrong, while fetching mentor profile information.');
            }
        });
    });
    });
</script>
{% endblock external_ajax_js %}