{% extends "layout/webadmin_dashboard.html" %}

{% block dashboard_title %}
    - Mentee Users
{% endblock dashboard_title %}

{% block dashboard_main_section %}
    <div class="container bg-secondary mt-4 rounded-2 p-4">
        <form method="post">
            <input type="text" class="form-control border-2 shadow-none fs-5" placeholder="Search mentees here...">
        </form>
    </div>

    <div class="container bg-secondary mt-4 rounded-2 p-4">

        <div class="bg-dark p-2 rounded-2">

            <div class="row">
                <h4 class="text-center">Your Mentees</h4>
            </div>

            <div class="row">
                <div class="my-2 d-flex align-items-center justify-content-end">
                    <button class="btn btn-primary" id="exportMenteeData"><i class="fa-solid fa-download me-2"></i>Export Data</button>
                </div>
            </div>

            <div id="mentees-data" class="overflow-x-auto overflow-y-auto" style="height: 345px;">
            </div>

        </div>

    </div>

{% endblock dashboard_main_section %}


{% block external_ajax_js %}
<script>
    $(document).ready(function() {
    // create table for get unassigned mentees
    function createTableMentee(data) {
        let table = $('<table class="table table-hover table-dark"></table>');
        
        // Create table header
        let headers = [
            "S.No",
            "Username",
            "Full name",
            "Roll No",
            "Branch",
            "Semester",
            "Phone",
            "Created date",
            "Show Profile",
        ];
        let headerRow = $('<tr></tr>');
        headers.forEach(function(header) {
            headerRow.append($('<th></th>').text(header));
        });
        table.append($('<thead></thead>').append(headerRow));
    
        // Create table body
        let tbody = $('<tbody></tbody>');
        data.forEach(function(item, index) {
            let row = $('<tr></tr>');
            row.append($('<td></td>').text(index+1));
            row.append($('<td></td>').text(item.username));
            row.append($('<td></td>').text(item.first_name + ' ' + item.last_name));
            row.append($('<td></td>').text(item.mentee_profile__roll_no));
            row.append($('<td></td>').text(item.mentee_profile__branch));
            row.append($('<td></td>').text(item.mentee_profile__semester));
            row.append($('<td></td>').text(item.mentee_profile__phone));
            row.append($('<td></td>').text(new Date(item.mentee_profile__created_at).toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"})));
            row.append($('<td></td>').html(`<button class='btn btn-sm btn-primary show-mentee-profile' data-bs-toggle='modal' data-bs-target='#menteeProfile' data-id=${item.id}>Show</button>`));
            tbody.append(row);
        });
    
        table.append(tbody);
    
        return table;
    }

    // get mentees of mentor
    function getMentees () {
        $.ajax({
            url: "{% url 'web_admin_get_mentees' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function(response){
                let table = createTableMentee(response.data);
                $('#mentees-data').empty().append(table); 
            },
            error: function(response){
                message('danger', 'Something went wrong, while fetching mentees');
            }
        });
    }
    getMentees();

    // show mentee profile
    $(document).on('click', '.show-mentee-profile', function() {
        let menteeId = $(this).data("id");

        $.ajax({
            url: "{% url 'web_admin_get_mentee_profile' %}",
            type: "POST",
            data: {
                menteeId: menteeId,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function(response) {
                let responseData = response.data;

                $("#mentee-name").text(responseData.first_name + ' ' + responseData.last_name);
                $("#mentee-username").text(responseData.roll_no);
                $("#rollNo").text(responseData.roll_no);
                $("#course").text(responseData.course);
                $("#branch").text(responseData.branch);
                $("#semester").text(responseData.semester);
                $("#mentor").text(responseData.mentor.toUpperCase());
                $("#mentee-phone").text(responseData.phone);
                $("#mentee-email").text(responseData.email);
                $("#mentee-dob").text((responseData.dob != '' ? responseData.dob : '---'));
                $("#mentee-role").text((responseData.user_role != '' ? responseData.user_role : '---'));
                $("#mentee-address").text((responseData.address != '' ? responseData.address : '---'));
                $("#mentee-city").text((responseData.city != '' ? responseData.city : '---'));
                $("#mentee-region").text((responseData.region != '' ? responseData.region : '---'));
                $("#mentee-pin-code").text((responseData.pin_code != '' ? responseData.pin_code : '---'));
                $("#mentee-nation").text((responseData.nation != '' ? responseData.nation : '---'));
                $("#father-name").text(responseData.father_name);
                $("#father-phone").text(responseData.father_phone);
                $("#father-profession").text(responseData.father_profession);
            },
            error: function(response) {
                message('danger', 'Something went wrong, while fetching mentee profile');
            }
        });
    });
    });
</script>
{% endblock external_ajax_js %}