{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            {% if not title %}
            Welcome to the Mentor Dashboard | SSGI | srisaigroup.in
            {% endif %}
        {% endblock title %}
    </title>
    <link rel="shortcut icon" href="{% static "/images/favicon.ico" %}" type="image/x-icon">

    {% comment %} css {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        ::-webkit-scrollbar {
            width: 10px;
        }
            /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 2px grey; 
            border-radius: 50px;
        }
            /* Handle */
        ::-webkit-scrollbar-thumb {
            background: grey; 
            border-radius: 50px;
        }
            /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background-color: #44455f; 
        }
        .navbar-brand {
            background-color: #ff2f2f;
            color: #fff;
            padding-x: 8px;
        }
        .sidebar {
            position: fixed;
            top: 56px; /* Height of navbar */
            bottom: 0;
            left: 0;
            width: 250px; /* Adjust based on your sidebar width */
            padding: 11px 0 0; /* Adjust based on your sidebar padding */
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
            z-index: 1000;
        }
        .sidebar.collapsed {
            width: 0;
            padding: 0;
            overflow: hidden;
        }
        .main-content {
            margin-left: 250px;
            padding: 20px;
            min-height: 95vh;
        }
        .main-content.collapsed {
            margin-left: 0;
        }
        .nav>a {
            font-size: 17px;
            color: #fff;
            border-radius: 8px;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .nav>a:hover {
            color: #fff;
            background-color: #44455f;
        }
        .username {
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1.8px;
            user-select: none;
        }
        .show-search-form {
            display: flex !important;
            position: fixed;
            top: 80px;
            width: 60%;
            margin: auto;
        }
        {% block internal_css %}
        {% endblock internal_css %}
    </style>

</head>
<body>
    {% comment %} navbar {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom sticky-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold rounded px-3 d-none d-md-block" href=" {% url "welcome_page" %}" style="font-family: arial;">Sri Sai Group Of Institutes</a>

            <a class="navbar-brand fw-bold rounded px-3 d-block d-md-none" href=" {% url "welcome_page" %}" style="font-family: arial;">S S G I</a>

            <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse relative" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url "mentor_dashboard" %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                        </span>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    {% block dashboard_nav_links %}
                    {% endblock dashboard_nav_links %}
                </ul>

                <ul class="navbar-nav me-3">
                    <!-- Messages Dropdown Menu -->
                    <li class="nav-item dropdown dropdown-center">
                        <span class="nav-link" data-bs-toggle="dropdown" role="button" >
                        <i class="far fa-comments"></i>
                        <span class="badge text-bg-danger">3</span>
                        </span>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-center">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                            <div class="media-body">
                                <h6 class="dropdown-item-title">
                                Brad Diesel
                                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                </h6>
                                <p class="text-sm">Call me whenever you can...</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                            <div class="media-body">
                                <h6 class="dropdown-item-title">
                                John Pierce
                                <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                </h6>
                                <p class="text-sm">I got your message bro</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                            <div class="media-body">
                                <h6 class="dropdown-item-title">
                                Nora Silvester
                                <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                </h6>
                                <p class="text-sm">The subject goes here</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                        </div>
                    </li>

                    <!-- Notifications Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-bs-toggle="dropdown" role="button">
                        <i class="far fa-bell"></i>
                        <span class="badge text-bg-danger">15</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                        </div>
                    </li>

                    <!-- User profile Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <span class="nav-link rounded px-3 bg-body-secondary" data-bs-toggle="dropdown" role="button">
                        <i class="fa-solid fa-user"></i>
                        </span>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item dropdown-footer pt-2" role="button" data-bs-toggle="modal" data-bs-target="#logoutModal">
                            <i class="fa-solid fa-right-from-bracket me-3"></i> Logout
                        </span>
                        </div>
                    </li>
                    {% block drop_menu %}
                    {% endblock drop_menu %}
                </ul>

                <span class="nav-item nav-link rounded px-3 py-2 bg-body-secondary d-none d-lg-inline-block d-xl-none" id="search-icon" role="button">
                    <i class="fa-solid fa-magnifying-glass text-white"></i>
                </span>
            
                <form class="d-flex d-lg-none d-xl-flex search-form" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>

                {% block search_form %}
                {% endblock search_form %}
            </div>
        </div>
    </nav>

    {% comment %} Sidebar {% endcomment %}
    <div class="sidebar bg-dark overflow-y-auto border-end border-secondary" id="sidebar">
        <nav class="nav flex-column p-2">
            <span class="username nav-link text-white p-3 mb-2 border-bottom border-dark-subtle" aria-current="page">
                <i class="fa-solid fa-user me-2"></i>
                {% if request.user %}
                    {{ request.user.first_name }}
                    {{ request.user.last_name }}
                {% endif %}
                {% block dash_username %}
                {% endblock dash_username %}
            </span>

            <a class="nav-link" href=" {% url "mentor_dashboard" %}">
                <span class="">
                    <i class="fa-solid fa-gauge-high me-3"></i>Dashboard 
                </span>
                <i class="fa-solid fa-angle-right"></i>
            </a>
            <a class="nav-link" href="{% url "mentee_users" %}">
                <span>
                    <i class="fa-solid fa-users me-3"></i>Mentees
                </span>
                <i class="fa-solid fa-angle-right"></i>
            </a>
            <a class="nav-link" href="{% url "mentee_queries" %}">
                <span>
                    <i class="fa-solid fa-comment me-3"></i>Queries 
                </span>
                <i class="fa-solid fa-angle-right"></i>
            </a>

            {% block sidebar_links %}
            {% endblock sidebar_links %}

        </nav>
    </div>

    {% comment %} Main content {% endcomment %}
    <div class="main-content text-bg-dark" id="mainContent">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2 mb-3 border-bottom">
            <div class="d-flex align-items-center">
                <button class="btn me-2" id="sidebarToggle"><i class="fa-solid fa-bars fs-4 text-bg-dark" title="Toggle Sidebar"></i></button>
                <h3 class="fw-semibold">
                    Mentor Dashboard
                    {% block dashboard_title %}
                    {% endblock dashboard_title %} 
                </h3>
            </div>
        </div>

        <div class="" style="min-height: 70vh;">
            {% block dashboard_main_section %}
            {% endblock dashboard_main_section %}
        </div>

        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center p-2 mt-3 border-top">
            Copyright &copy; 2024-2030 &nbsp; <a href="{% url "welcome_page" %}">srisaigroup.in</a>. &nbsp; All rights reserved.
        </div>
    </div>

    {% comment %} toast component {% endcomment %}
    {% include "components/toast.html" %}
    {% comment %} logoutModal {% endcomment %}
    {% include "components/modal.html" %}
    {% comment %} menteeProfileModal {% endcomment %}
    {% include "components/mentor/mentee_modal.html" %}
    
    {% comment %} external js {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static "/js/jQuery/jquery.js" %}"></script>
    <script src="{% static "/js/toast.js" %}"></script>
    
    {% block external_link_js %}
    {% endblock external_link_js %}
    
    {% block external_js %}
    {% endblock external_js %}

    <script>
        document.getElementById('sidebarToggle').addEventListener('click', function() {
            let sidebar = document.getElementById('sidebar');
            let mainContent = document.getElementById('mainContent');
            sidebar.classList.toggle('collapsed');
            mainContent.classList.toggle('collapsed');
        });

        $(document).ready(function() {
            $("#search-icon").on("click", function() {
                $(".search-form").toggleClass("show-search-form");
            });
            
            // logout button
            $("#logoutBtn").on("click", function(e) {

                e.preventDefault();
        
                $.ajax({
                    url: "{% url 'logout_mentor' %}",
        
                    success: function(response) {
                        if(response.process === "logout success") {

                            window.location.href = "{% url 'login_page' %}";
                        }
                        else {
                            message("danger", "Failed to logout !!");
                        }
                    }
                })
            });
        });
    </script>

    {% block external_ajax_js %}
    {% endblock external_ajax_js %}
</body>
</html>